body.dragging,
body.dragging * {
  cursor: move !important;
}

h1 {
  font-size: 1.8rem;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
  margin-top: -30px;
}

table.table {
  &.size-50 input { width: 50px; }
  &.size-100 input { width: 100px; }
  &.size-200 input { width: 200px; }
  &.size-300 input { width: 300px; }
  &.size-400 input { width: 400px; }
  &.size-500 input { width: 500px; }
  &.size-1000 input { width: 1000px; }
  &.size-2000 input { width: 2000px; }
  &.size-50 .delete-column > span {
    display: none;
  }

  &.table-sm {
    input, button {
      padding: .1rem .3rem
    }
    tbody button {
      width: 30px;
    }
    tbody tr.placeholder {
      height: 38px;
    }
    .drag {
      a {
        line-height: 27px;
      }
    }
  }

  &>:not(:first-child) {
    border-top: 0 none;
  }
  tbody {
    tr {
      border-top-width: 1px;
      &.duped {
        animation: duped 2s linear;
      }
      &.placeholder {
        position: relative;
        height: 56px;
        border-style: none;
        &:before {
          position: absolute;
          content: "\f0da";
          font-family: "Font Awesome 6 Free";
          color: red;
          font-size: 1.6rem;
          font-weight: 900;
          margin: 10px 0 0 -18px;
        }
      }
      td {
        border-left-width: 1px;
        button {
          width: 42px;
        }
        &.drag {
          a {
            color: #2c9ad9;
            font-size: 1.6rem;
          }
        }
        &:last-child {
          border-left-width: 0;
          border-right-width: 1px;
        }
      }
    }
  }
  tfoot {
    tr {
      border-width: 0;
      td {
        border-bottom-width: 0;
        &:nth-child(2) {
          border-left-width: 1px;
        }
        &.ignore {
          border-right-width: 1px;
          border-bottom-width: 1px;

        }
      }
    }
  }

}

.instructions {
  border-top: solid 1px lightgray;
  background-color: #f6f6f7
}

@keyframes duped {
  from {
    background-color: #fffbcb;
  }

  to {
    background-color: #ffffff;
  }
}
